.main-form{
    margin-top: 80px;
    margin: 0 auto;
    max-width: 400px;
    padding: 10px 40px;
    background:#009edf;
    color: black;
    border-radius: 15px 3px;
   }

   #button {
    border: 1px solid #ccc;
    margin-top: 28px;
    padding: 6px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #666;
    text-shadow: 0 1px #fff;
    cursor: pointer;
    border-radius: 15px 3px;
    box-shadow: 0 1px #fff inset, 0 1px #ddd;
    background: #f5f5f5;
    position: relative;
   }

.container{
    margin-top: 100px;
}

